.container {
	width: 70%;
	min-width: 600px;
	margin: 20px auto 20px auto;
	font-family: sans-serif;
	font-size: 14px;
}
li {
	margin-top: 5px;
}
a {
	text-decoration: none;
}
.disclaimer {
	border: 3px dashed black;
	padding: 10px;
	margin-bottom: 20px;
}
h2 {
	margin-bottom: 40px;
}
